#capa {
    background-image: url(../img/img1.png);
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: ghostwhite;
    text-shadow: 5px 5px 10px black;
}
#capa_perfil{
    background-image: url(../img/perfil.jpg);
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: ghostwhite;
    text-shadow: 5px 5px 10px black;
}

.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
#cart_princ {
    background-color:#333;
    border-color: #333;
}
#alerta {
    margin-top: 56px;
}
footer{
    padding-top: 4px;
    background-color: #dadada;
}
#rodape{
    background-color: #868686;
}
#section_login{
    background-color: #333;
}
#section_cadastro{
    background-color: #333;
}
#corpo_perfil{
    margin-bottom: 76px;
}